nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  
}
.img{
  margin-top: 1rem;
  cursor: pointer;
  height: 50px;
  
}
.toggel{
  display: none;
}
.links{
  display:flex;
  list-style-type: none;
  gap: 2rem;
}
a{
cursor: pointer;
color:#AE5263;
font-weight: 600;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 0.1rem;
transition: 0.3s ease-in-out;
}
a:hover{
  color:#EDD8D7;
}
.active{
  color:#EDD8D7;
}